* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
header {
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    background: #2E4053; /* dark blue */
    color: #FFFFFF; /* white */
    padding: 20px;
}
 
.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: #F7F7F7; /* light gray */
}
 
section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 40px;
    margin-top: 4%;
    border-radius: 49px;
    background: #FFFFFF; /* white */
    box-shadow: 11px 11px 24px #D9D9D9, -11px -11px 24px #E7E7E7;
}
 
section div {
    font-weight: bold;
    margin: 20px;
}
 
button {
    text-align: center;
    padding: 20px;
    width: 150px;
    border: none;
    border-radius: 30px;
    background: #34A853; /* green */
    color: #FFFFFF; /* white */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
 
button:hover {
    background: #2E865F; /* darker green */
    box-shadow: 11px 11px 24px #888888, -11px -11px 24px #F2F2F2;
    transform: scale(1.1);
}