<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style/mobile/style.css" />
    <title>Document</title>
  </head>
  <body>
    
    <header>
      <img src="../../assets/img/logo.png" alt="" width="40%" />
    </header>
   
    <div class="bodyContainer">
      <section>
        <input type="submit" value="CAIXA" class="btn" />
        <input type="submit" value="GERÊNCIA" class="btn" />
        <input type="submit" value="ATENDIMENTO" class="btn" />
      </section>
    </div>
  </body>
</html>
